.header {
  --color-bg: #191927;
  --color-blue: #00c6eb;
  --color-green: #81d52e;
  --color-yellow: #fdd00f;
  --color-pink: #d42c70;
  --color-orange: #ff3b18;

  background-color: var(--color-bg);
  padding: 0;
  font-family: "Gandom";
  .logo {
    position: relative;
    margin: 0;
    padding: 0;
    .logobg {
      background-image: url("/images/logo.png");

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  .menu {
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      // justify-content: space-around;
      list-style: none;
      li {
        color: #fff;
        padding: 20px 20px;
        font-size: 1.5em;
      }
      .history,
      .story,
      .home,
      .political,
      .login {
        transition: all 0.3s;

        &:hover {
          margin-top: -8px;
        }
      }
      .home:hover {
        color: var(--color-yellow);
        border-bottom: 8px solid var(--color-yellow);
      }
      .history:hover {
        color: var(--color-blue);
        border-bottom: 8px solid var(--color-blue);
      }
      .story:hover {
        color: var(--color-orange);
        border-bottom: 8px solid var(--color-orange);
      }
      .political:hover {
        color: var(--color-green);
        border-bottom: 8px solid var(--color-green);
      }
      .login {
        &:hover {
          color: var(--color-pink);
          border-bottom: 8px solid var(--color-pink);
        }
      }
    }
    .cart {
      color: #fff;
      transition: all 0.3s;
      &:hover {
        margin-top: -7px;
        border-bottom: 7px solid var(--color-yellow);
        color: var(--color-yellow);
      }
    }
    .profile {
      color: #fff;
      transition: all 0.3s;
     &:hover {
        margin-top: -7px;
        border-bottom: 7px solid var(--color-green);
        color: var(--color-green);
      }
    }
  }
}
.drawer {
  background-color: #191927c4;

  a {
    color: #000;
    font-size: 20px;
    margin: 20px 0 !important;
    &:hover {
      color: #d42c70;
    }
  }
  .logout {
    color: #ff3b18;
    font-size: 20px;
    cursor: pointer;
    border-top: 1px solid #ff3b18;
    margin-top: 10px;
  }
}
