.footer {
  background-color: #09041d;
  color: #fff;
  padding: 60px;
  text-align: center;
  // height: 200px;
  ul {
    list-style: none;

    li {
      font-size: 20px;
      padding: 7px;
      a {
        color: #fff;
        &:hover {
          color: yellow;
        }
      }
    }
  }
}
